<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JPA_CLASE_1/src/pe/edu/cibertec/proyemp/jpa/test/JpaTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="pe.edu.cibertec.proyemp.jpa.test.JpaTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JPA_CLASE_1"/>
</launchConfiguration>
